body {
    padding: 0;  
}
#footer {
	position: relative;
	width: 1280px;
	margin: auto;
}
div.contact {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	left: 5px;
	position: absolute;
}
div.recommend {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	position: absolute;
	left: 695px;
}
